* {
  font-family: 'Press Start 2P', cursive;
}

header {
  display: flex;
  justify-content: center;
}

header h1 {
  margin-top: 10px;
}

canvas {
  display: flex;
  margin: 0 auto;
  border: 5px solid black;
}
